# Example .tfvars file with correct set of variables
# for the terraform module to run properly.

# NOTE: Some of these must be changed before planned 'terraform apply' action

aws_region         = "ap-south-1"
cidr_blocks        = ["10.0.0.0/24", "10.0.1.0/24", "10.0.2.0/24"]
availability_zones = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
tags = {
  created_by = "Your Name"
  project    = "RDS Optimizer"
  team       = "Your Team"
}
subnet_count = 3
security_group = {
  name        = "rds_optimizer_security_group"
  description = "Security Group for RDS Optimizer"
}
ingress_rule_one = {
  description = "Inbound connection"
  from_port   = 22
  to_port     = 22
  protocol    = "TCP"
}
ingress_rule_two = {
  description = "Inbound connection"
  from_port   = 3306
  to_port     = 3306
  protocol    = "TCP"
}
egress_rule = {
  description = "Outbound connection"
  from_port   = 0
  to_port     = 0
  protocol    = "-1"
}
vpc_ip_range         = "10.0.0.0/16"
route_table_ip_range = "0.0.0.0/0"
db_subnet_group_name = "rds-optimizer-db-subnet-group"
db_metadata = {
  identifier              = "rds-optimizer-db"
  instance_class          = "db.t3.micro"
  allocated_storage       = 10
  engine                  = "mariadb"
  engine_version          = "10.6.11"
  major_engine_version    = "10.6"
  family                  = "mariadb10.6"
  backup_retention_period = 2
}
db_username = "user"
db_password = "strong-password"
db_params = {
  option_group_name             = "rds-optimizer-db-opt-params"
  params_group_name             = "rds-optimizer-db-params"
  log_connections               = "1"
  server_audit_file_rotate_size = "10"
  server_audit_file_rotations   = "10"
}
s3_bucket_name = "rds-optimizer-bucket"